.movie__container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 50px;
}

.header__container{
  margin: 0px 30px;
}

.header{
  font-size: 25px;
  font-weight: 800;
}

