.navbar{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    background-color: rgb(44, 43, 43);
    color: aliceblue;
    align-items: center;
    text-align: center;

}

.navbar__logo{
    font-weight: 600;
    font-size: large;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar__items{
    display: flex;
    justify-content: center;
    float:right;
    margin-right: 60px;
}